LEETCODE_USERNAME=cataladev
TARGET_REPO_URL=https://github.com/cataladev/leetcode
TARGET_REPO_LOCAL_PATH=~/Development/leetcode
SOLUTION_FILE_EXTENSION=py
GIT_BRANCH=main
COMMIT_AUTHOR_NAME=Carlos Arena
COMMIT_AUTHOR_EMAIL=carlos@example.com
