LEETCODE_USERNAME=cataladev
TARGET_REPO_URL=https://github.com/cataladev/leetcode
TARGET_REPO_LOCAL_PATH=~/Development/leetcode
SOLUTION_FILE_EXTENSION=auto
GIT_BRANCH=master
COMMIT_AUTHOR_NAME=Carlos Catala
COMMIT_AUTHOR_EMAIL=carlos@catala.dev
LEETCODE_SESSION=
LEETCODE_CSRF_TOKEN=
LEETCODE_AUTH_USERNAME=cataladev
GITHUB_TOKEN=
DRY_RUN=false
VERBOSE=false
RECENT_ACCEPTED_LIMIT=20
SYNC_INTERVAL_MINUTES=1440
REQUEST_TIMEOUT_MS=20000
STATE_FILE_PATH=.data/state.json
LOCK_FILE_PATH=.data/leetcode-sync.lock
PUSH_AFTER_EACH_COMMIT=true
AUTO_CLONE_TARGET_REPO=true
ALLOW_DIRTY_TARGET_REPO=false
STOP_ON_PUSH_FAILURE=true
